.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.meJpg {
	border-radius: 50%;
	margin: 15px 0;
}

.count {
	display: flex;
	justify-content: center;
	flex-direction: column;
}